@model IEnumerable<Mvc_Project.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Producten</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hoevelheid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoevelheid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Wijzig</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
