@model Mvc_Project.Models.Aankoop

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aankoop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VakId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NaamAanvragerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NaamAanvragerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoedGekeurd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoedGekeurd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verwijderd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verwijderd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AankoopId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
