@model IEnumerable<Mvc_Project.Models.Aankoop>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded text-center">
    <h1>Welkom, @ViewBag.GebruikerNaam</h1>

    <div class="row border p-2">
        <div class="col">
            <h1>Aankoop aanvragen</h1>
            <div class="container pt-3">
                <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Aankoop")" role="button">Aankoop aanvragen</a>
            </div>
        </div>
        <div class="col">
            <h1>Aangevraagde aankopen</h1>
            <div class="container pt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().NaamAanvrager.Voornaam)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().NaamAanvrager.Naam)
                            </th>
                            <th>
                                Acties
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NaamAanvrager.Voornaam)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NaamAanvrager.Naam)
                                </td>
                                <td>
                                    @if (!item.GoedGekeurd)
                                    {
                                        <form asp-action="Goedkeuren" asp-route-id="@item.AankoopId" method="post">
                                            <input type="submit" value="Goedkeuren" class="btn btn-success" />
                                        </form>
                                    }
                                    <a asp-controller="Aankoop" asp-action="Delete" asp-route-id="@item.AankoopId" class="btn btn-danger">Afwijzen</a> |
                                    <a asp-controller="Aankoop" asp-action="Details" asp-route-id="@item.AankoopId" class="btn btn-info">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
